<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Order Details</h1>

	<dl class="dl-horizontal">
		<dt>Id</dt>
		<dd th:text="${order.id}">id</dd>
		<dt>Name</dt>
		<dd th:text="${order.customer.firstname + ' ' + order.customer.lastname}">name</dd>
		<dt>Total</dt>
		<dd th:text="${order.total}">total</dd>
		<dt>Date Ordered</dt>
		<dd th:text="${order.created}">created</dd>
	</dl>

	<div style="height: 2cm">&nbsp;</div>

	<div style="text-align: right">
		Options: <a th:href="@{/order}">Home</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
